body{
    font-family:'Open Sans Condensed', sans-serif;
}
div.contenedor{
    padding: 25px;
    align-content: center;
}
div.fondo{
    background-image: url(../fondo1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
div.formulario{
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    width: 48%;
    height: 85vh;
    background-color: lightgrey;
    opacity:  95%;
    margin: auto;
    
    

}
div.texto{
    padding: 50px;
    display: inline-block;
    padding: 10px;
    width: 30%;
    height: 85vh;
    text-align: left;
    margin:auto;
    background-color: lightgray;
    opacity: 90%;
    
}


footer.yellow{
    background-color: rgb(255, 196, 4);
    opacity: 90%;
    
    
}
nav.yellow{
    background-color:  rgb(255, 196, 4);
    opacity: 90%;
    border-bottom: solid 5px black;
    border-top: solid 2px black;
   
    
}
div.yellow{
    
    background-color: rgb(255, 196, 4);
    opacity: 95%;
    padding: 15px;
    color: black }