div.portada{
 text-align: center;
 font-family: 'Staatliches', cursive;

 
}
div.subportada{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
div.fondo{
    background-image: url(./fondo1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}
div.contenedor {
    padding: 25px ;   
    align-content: center;
    margin: auto;

}
div.contenedor2 {
    padding: 50px;
    align-content: center; 
    background-color: white;
    font-family:'Open Sans Condensed', sans-serif;
    border: solid 5px darkgray;
    color: black;
    text-align: center;
    margin: 10px;
    opacity: 90%;
}

button.rojo:hover{
    background-color: rgb(245, 76, 76);
    opacity: 85%;
    

}

