div.fondo{
    background-image: url(../fondo1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
footer.blue{
    background-color:  rgb(245, 76, 76);
    opacity: 90%;
    
    
}
nav.blue{
    background-color:   rgb(245, 76, 76);
    opacity: 90%;
    border-bottom: solid 5px black;
    border-top: solid 2px black;
   
    
}
div.blue{
    
    background-color:  rgb(245, 76, 76);
    opacity: 95%;
    padding: 15px;
    color: black;
    
    
}
div.lateral{
    background-color: beige;
    border: solid 2px black;
    width: 30%;
    height: 80vh;
    opacity: 80%;
    margin: auto;
    padding: 15px;
    display: inline-block;
}
div.mapa{
    background-color: beige;
    margin: auto;
    padding: 15px;
    width: 60%;
    height: 30vh;
    opacity: 80%;
    border: solid black 2px;
    display: inline-block;
}


