

div.fondo{
    background-image: url(../fondo1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
div.juego{
    padding: 10px;
    width: 48%;
    height: 80vh;
    background-color: beige;
    display:inline-block;
    opacity: 90%;
}
div.buscador{
    padding: 10px;
    width: 48%;
    height: 80vh;
    background-color: beige;
    display: inline-block;
    margin: auto;
    opacity: 90%;


}
footer.green{
    background-color: green;
    opacity: 90%;
}
nav.green{
    background-color: green;
    opacity: 90%
}
div.green{
    background-color: green;
    padding: 15px;
    opacity: 90%
}
button.green{
    background-color: green;
    display: flex;
    align-items: stretch;

}
